.card {
    color: rgb(49, 49, 49);
    margin: 20px;
    background-color: #ffffff;
}

.card h4{
    background-color: inherit;
    display: flex;
    justify-content: center;
    background-color: honeydew;
    font-weight: bold;
}

.modal-window{
    background-color: transparent;
}
.modal-body{
    background-color: inherit;
}