.content-dashboard{
    display: grid;
    justify-content: center;
}



.modal-window{
    background-color: transparent;
}
.modal-body{
    background-color: inherit;
}

.modal-body button{
    margin: 10px 20px;
}

