
.cite-card{
    margin: 2000px;
}

.text-description{
    background-color: inherit;
}



h5.card-title{
    background-color: #ffffff;
}

h6.card-title{
    padding: 10px 20px;
    background-color: rgb(75, 168, 230);
}

h4.header-cite-card.card-header{
    background-color: rgb(246, 191, 88);
}